---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Inicio</h1>
  </li>
<li><a class="post-link" href="#">
      <h2 class="post-title">Bienvenidos a mi Blog</h2>
    </a>
    
    <div class="post"><p>Mi nombre es Joyce Nicolle Medina Santos naci el 5 de Junio del 2002, estudiante de la Universidad de Guyaquil de la Facultad de Ciencias Matematicas y Fisicas actualmente estudio Ia carrera de Ingenieria de Software. Mi mision es poder terminar mi carrera universitaria y posteriormente hacer mi maestria en la universidad.
    Mi vision es poder cumplir mis metas que me propongo como meta. El motivo por el cual desarrolle esta pagina webm, fue con el objetivo de poder facilitar mi busqueda de clases de mi asignatura por medio de unidades de estudio,se encontrata diversos temas importantes para asi hacer más didactico el material de estudio.</p>
</div>
  </li>
  
<div class="badges" style="background-position-x: center;">
            <a class="badge-link" href="#"><img src="https://www.ecuavisa.com/sites/default/files/fotos/2018/11/15/dpn5drew0aas-ss.jpg" alt="" style="border: solid;"></a>
            
          </div>

{%- endif -%}
